<div class="footer">


  <div class="footer-icons">


    <%= link_to "/" do %><%= image_tag('house.svg') %><% end %>


  </div>

    <div class="footer-icons">


    <%= link_to "/accounts" do %><%= image_tag('wallet.svg') %><% end %>


  </div>


    <div class="footer-icons">


    <%= link_to "/" do %><%= image_tag('circle.svg') %><% end %>


  </div>




    <div class="footer-icons">


    <%= link_to "/settings" do %><%= image_tag('check.svg') %><% end %>


  </div>


</div>


  </div>
