
<p> Search for a transaction</p>


<!-- [...] -->
<%= form_tag account_transactions_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a transaction"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<!-- the list of transactions -->


<div class = "space-div">
</div>
<% @transactions.each do |transaction| %>

      <div class = "transaction-history">
        <div class = "transac-hist">
          <div class="image-box">
          <div class = "transaction-date"><%= transaction.date.strftime("%a %d %b %y") %></div>
          </div>
          <div class = "income"><%= transaction.name %></div>
          <div class = "amount-transact">Rs. <%= transaction.amount.round() %></div>

        </div>
        <%= link_to root_path, class: "link" do %>
        <div class="category-check">
          <div class="cat-name"><%= transaction.category.name %></div>
        </div>
        <% end %>
      </div>

<% end %>
