<div class ="Account-Balance" >
  <%= link_to account_path(current_user.account.id) do %>
    <div class ="Account-logo">
      <%= image_tag "mastercard.png", width: 50 %>
      <h3> <%= current_user.account.account_name %> </h3>
      <%number = current_user.account.account_number.to_s.chars.each_slice(4).map { |a| a.join.to_i }%>
    </div>

    <div class="card-number">
      <% number.each do |num| %>
        <%= num %>
      <% end %>
    </div>

    <div class="card-balance">
      <% if current_user.account.balance.present? %>
        <strong> Balance: Rs </strong> <%= (current_user.account.balance).round() %>
      <% end %>
    </div>
    <h4 class = "account-name"> <%= current_user.name %> </h4>
  <% end %>
</div>

  <div class = "transaction">
    <h3 class = "transac">Transactions</h3>
  </div>

  <% @transactions.first(5).each do |transaction| %>

        <div class = "transaction-history">
          <div class = "transac-hist">
            <div class="image-box">
              <% case transaction.category.name %>
                          <% when "Transport" %>
                            <%= image_tag("category/icons8-car-40.png",width: 30, height: 30) %>
                          <% when "Shopping" %>
                            <%= image_tag("category/icons8-shop-40.png",width: 30, height: 30) %>
                          <% when "Grocery" %>
                            <%= image_tag("category/icons8-vegetarian-food-40.png",width: 30, height: 30) %>
                          <% when "Eating Out" %>
                            <%= image_tag("category/icons8-food-40.png",width: 30, height: 30) %>
                          <% when "Utility bill" %>
                            <%= image_tag("category/icons8-lightning-bolt-40.png",width: 30, height: 30) %>
                          <% when "Income" %>
                            <%= image_tag("income.png",width: 30, height: 30) %>
                <% end %>
            </div>
            <div class = "income"><%= transaction.name %></div>
            <div class = "amount-transact">Rs. <%= transaction.amount.round() %></div>
          </div>
          <%= link_to edit_transaction_path(transaction), class: "link" do %>
          <div class="category-check">
            <div class="cat-name"><%= transaction.category.name %></div>
          </div>
          <% end %>
        </div>
  <% end %>
