<h2>Overall expenses for the month of <em><%= Time.now.strftime("%B") %></em></h2>
  <% expenses = 0 %>
  <% @monthly_transactions.each do |transaction| %>
    <% expenses += transaction.amount %>
  <% end %>
<p><%= expenses %></p>

<% array_expenses_per_category = [] %>
<% category_names = [] %>
<% @categories.each do |category| %>
  <h3><%= category.name.to_s %></h3>
  <% category_names << category.name.to_s  %>
  <% expenses_per_category = 0 %>
  <% @transactions.each do |transaction|  %>
    <% if transaction.category_id == category.id %>
      <% expenses_per_category += transaction.amount %>
      <% array_expenses_per_category << expenses_per_category %>
    <% end %>
  <% end %>
  <p><%= expenses_per_category %></p>
<% end %>

<canvas id="totalExpensesChart" width="400" height="400"></canvas>
<script>
  var ctx = document.getElementById("totalExpensesChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        datasets: [{
          label: 'Total Expenses',
          data: <%= array_expenses_per_category %>
          // backgroundColor: [
          //       'rgba(255, 99, 132, 0.2)',
          //       'rgba(54, 162, 235, 0.2)',
          //       'rgba(255, 206, 86, 0.2)',
          //       'rgba(75, 192, 192, 0.2)',
          //       'rgba(153, 102, 255, 0.2)',
          //       'rgba(255, 159, 64, 0.2)'
          //   ],
          // borderColor: [
          //       'rgba(255, 99, 132, 1)',
          //       'rgba(54, 162, 235, 1)',
          //       'rgba(255, 206, 86, 1)',
          //       'rgba(75, 192, 192, 1)',
          //       'rgba(153, 102, 255, 1)',
          //       'rgba(255, 159, 64, 1)'
          //   ],
          // borderWidth: 1,
          // hoverOffset: 4
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        // labels: <%= category_names %>
        labels: ["Transport", "Shopping", "Grocery", "Eating Out", "Utility bill"]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
</script>
